<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/gallary.css">
    <%- include("include/header.ejs") %>
</head>
<body>
    <section class="hero">

  <div class="container">

    <!-- TEXT -->
    <div class="text">
      <h1>
        Explore The <span class="highlight">BUSET</span> Emanation <br>
        Special Memories
      </h1>

      <p>
        The Baddi University Gallery highlights campus life, 
        academic events, cultural activities, and memorable 
        moments of students and faculty. It reflects the vibrant 
        environment, modern facilities, and inspiring journey of 
        learning at Baddi University.
      </p>
    </div>

    <!-- GALLERY -->
    <div class="gallery">
      <a>
      <img src="/demo img/b.jpeg" class="img2">
      </a>
      <a href="/teacher">
      <img src="/demo img/a.jpeg" class="img3">
      </a>
      <a>
      <img src="/demo img/02.jpeg" class="img5">
      </a>
      <a>
      <img src="/demo img/c.jpeg" class="img6">
      </a>
    </div>

  </div>

</section>


    <%- include("include/fotter.ejs") %>
</body>
</html>