<link rel="stylesheet" href="/fotter.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<footer class="footer">
<div class="footer-container">

<div class="footer-left">
<h1 class="logo">BUEST</h1>

<p class="address">
Baddi University of Emerging Sci. & Tech.<br>
Makhnumajra, Baddi, Distt. Solan, H.P.-173205
</p>

<div class="links-small">
<a href="https://www.baddiuniv.ac.in">Visit</a>
<a href="https://www.google.com/maps?q=Baddi+University+of+Emerging+Sciences+and+Technology">Map</a>
<a href="#">Events</a>
<a href="#">People</a>
<a href="#">Jobs</a>
<a href="#">Contact</a>
</div>

<div class="links-small">
<a href="#">Privacy</a>
<a href="#">Accessibility</a>
<a href="#">Social Media Hub</a>
</div>

<div class="social">
<a href="https://twitter.com/BaddiUniversit"><i class="fab fa-twitter"></i></a>
<a href="https://www.facebook.com/share/1Ad2ykD6pF/"><i class="fab fa-facebook-f"></i></a>
<a href="https://youtube.com/@baddiuniversity5627?si=lVOnpioV8IY3Vk8B"><i class="fab fa-youtube"></i></a>
<a href="https://www.instagram.com/universitybaddi?igsh=bjJwNTJwNGJ6Nnly"><i class="fab fa-instagram"></i></a>
</div>

</div>

<div class="footer-right">

<div class="column">
<h3>Academics</h3>
<a href="/education">Education</a>
<a href="/adi">Admissions + Aid</a>
<a href="/abo">About</a>
<a href="#">Give</a>
</div>

<div class="column">
<h3>Campus</h3>
<a href="/research">Research</a>
<a href="/cam">Campus Life</a>
<a href="/ali">Alumni</a>
</div>

<div class="column">
<h3>Innovation</h3>
<a href="/invo">Innovation</a>
<a href="#">News</a>
<a href="/life">Lifelong Learning</a>
</div>

</div>

</div>

<div class="footer-bottom">
<p>© 2026 Baddi University of Emerging Sci. & Tech. All Rights Reserved.</p>
</div>

</footer>